@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@iconify/tailwind4';

html {
	scroll-behavior: auto;
	scroll-padding: 20px;
}

@theme {
	/* Colors */
	--color-text: #f7f7f7;
	--color-text-secondary: #de7f8f;

	--color-bg: #0a0507;
	--color-bg-secondary: #101828;

	--color-primary: #d62451;
	--color-secondary: #711930;

	--color-code-bg: #0e0f18;

	--color-glow: #711930;

	/* Fonts */
	--font-sans: 'DM Sans';
	--font-mono: 'DM Mono';

	--text-10xl: 10rem;
	--text-11xl: 12rem;
}
